@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white antialiased;
  }

  body {
    @apply m-auto flex h-screen w-screen;
  }

  html {
    background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%);
  }

  p {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

.ellipse::before,
.ellipse::after {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-36px, -12px);
}
